<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!--配置 hibernate-->
	<import resource="hibernateApplicationContext.xml"/>
	
	<!--配置 action-->
	<bean id="loginAction" class="wiki.laona.web.LoginAction" scope="prototype">
		<property name="loginService" ref="loginService"/>
	</bean>
	<bean id="categoryAction" class="wiki.laona.web.CategoryAction" scope="prototype">
		<property name="categoryService" ref="categoryService"/>
	</bean>
	
	<!--service-->
	<bean id="loginService" class="wiki.laona.service.impl.LoginServiceImpl">
		<property name="userDao" ref="userDao"/>
	</bean>
	<bean id="categoryService" class="wiki.laona.service.impl.CategoryServiceImpl">
		<property name="categoryDao" ref="categoryDao"/>
	</bean>
	
	<!--dao-->
	<bean id="userDao" class="wiki.laona.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="categoryDao" class="wiki.laona.dao.impl.CategoryDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>